h1 {
  padding-bottom: 20px;
}
h2 {
  text-align: left;
}

a {
  font-size: small;
}

.wrapper {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  max-width: 500px;
  display: block;
  position: relative;
}

.weather-app {
  background-color: rgb(156, 197, 233);
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  max-width: 500px;
  display: block;
  position: relative;
}
.today-weather {
  margin-top: 20px;
}
.today-info {
  line-height: 0;
  text-transform: capitalize;
}
.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature {
  font-size: xx-large;
}
.weather-temperature .unit {
  position: relative;
  font-size: 16px;
  top: -12px;
}
.extra-info {
  font-size: x-small;
  line-height: 0%;
  margin-top: 30px;
}

.message {
  padding-top: 20px;
}
.future-dates {
  font-size: 10px;
  margin-top: 40px;
  margin-right: 30px;
  margin-left: -20px;
  line-height: 10px;
}
