body {
  font-family: "Raleway", sans-serif;
  background-color: rgb(112, 165, 211);
}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  color: rgb(208, 227, 244);
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;

  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  margin: 0 auto;
  max-width: 500px;
  display: block;
  position: relative;
}

.weather-app {
  background-color: rgb(156, 197, 233);
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  padding: 20px;
  max-width: 500px;
  display: block;
  position: relative;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: xx-large;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -12px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 10px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 10px;
}
